<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
  
     
    </style>
</head>
<body>
    <!-- Footer -->
<footer class="bg-dark text-center ">
    <!-- Grid container -->
    <div style="color:white;" class="container p-4 bg-dark">
  
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
       
  
  
      <!-- Section: Text -->
      
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
         
          <!--Grid column-->
          <h1 class="text-uppercase">My Restonrent</h1>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
           
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0 ff">
              <li>
                <a href="#!" class="text-light">Menu </a>
              </li>
              <li>
                <a href="#!" class="text-light">Allergens</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
  
            <ul class="list-unstyled mb-0 ff">
              <li>
                <a href="#!" class="text-light">701-931-6988</a>
              </li>
              <li>
                <a href="#!" class="text-light">info@ginza.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Hours</h5>
  
            <ul class="list-unstyled mb-0 ff">
              <li>
                <a href="#!" class="text-light">Monday - Sunday</a>
              </li>
              <li>
                <a href="#!" class="text-light">10 am - 10 pm</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Location</h5>
  
            <ul class="list-unstyled mb-0 ff">
              <li>
                <a href="#!" class="text-light">1420 Willis Avenue</a>
              </li>
              <li>
                <a href="#!" class="text-light">Jacksonville, FL 32216</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">nikhil</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>