{% extends 'base.html'%}
{% block content %}
<head>
    <style>
        .hh1{
            padding:8%;
            text-align: center;
        }
        
        .c1{
            margin-left:60px;
        }
        .c2{
            margin-left:150px;
        }
        .container{
            background-color:rgb(194, 205, 211);
            width:100%;
        }
        .bt{
            margin-left:500px;
            width:200px;
            height:50px;
            background-color:brown;
            color: aliceblue;
            border-radius:10px;
        }
        
        
        
        .ch{
            text-align: center;
            height:50%;
        }
        .bt1{
            background-color:brown;
            color: aliceblue;
            border-radius:10px;
            width:200px;
            height:50px;
        }
           
        
       
    
        

    </style>
</head>
  <div class>
    <h1 class="hh1"align="center">Starters </h1>
    <div class="row">
        <div class="col-xs-3 col-md-5 c1">
          <a href="#" class="thumbnail">
            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-YleewgbajMSV1Gby.png" alt="...">
          </a><br><br><br>
          <h1>Dumplings .         $8</h1>
          <h6>Choose from vegetable, chicken or pork filling. Served </h6>
          <h6>with dipping sauce and garnish.</h6>
        </div>
        <div class="col-xs-3 col-md-5 c2">
            <a href="#" class="thumbnail">
              <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-A855Rv48KbhvXDDd.png" alt="...">
            </a><br><br><br>
            <h1>Chef's Special            $11</h1>
            <h6>Avocado, lime, salmon, mushrooms and garnish </h6>
            <h6>served with pickled ginger and spring onions.</h6>
          </div>
        </div>
        <div class>
            <h1 class="hh1" align="center">Bowls </h1>
            <div class="row">
                <div class="col-xs-3 col-md-5 c1">
                  <a href="#" class="thumbnail">
                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-mnllQgboMqFBl2Rd.png" alt="...">
                  </a><br><br><br>
                  <h1>Vegetable Pho.         $7</h1>
                  <h6>Ginza Pho is a spicy, light and aromatic noodle soup  </h6>
                  <h6>served piping hot.</h6>
                </div>
                <div class="col-xs-3 col-md-5 c2">
                    <a href="#" class="thumbnail">
                      <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-m2WWRN9xyPu1jxLO.png" alt="...">
                    </a><br><br><br>
                    <h1>Tonkatsu Ramen            $8</h1>
                    <h6>Our bespoke ramen comes with handmade noodles, a  </h6>
                    <h6>wide array of toppings and homemade broth.</h6>
                  </div>
                </div>
                <div class>
                    <div class="row">
                    <div class="col-xs-3 col-md-5 c1">
                    <a href="#" class="thumbnail">
                    <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-m6LLpQ9lNVsQZr11.png" alt="...">
                    </a><br><br><br>
                    <h1>Vermicelli Donburi.         $9</h1>
                    <h6>Modern fusion dish combining rice noodles with a   </h6>
                    <h6>classic rice bowl. Vegetarian option available...</h6>
                    </div>
                    <div class="col-xs-3 col-md-5 c2">
                    <a href="#" class="thumbnail">
                     <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-YKbbRGWeVLUByOVO.png" alt="...">
                    </a><br><br><br>
                    <h1>Teriyaki Donburi            $10</h1>
                    <h6>A crown pleaser, our homemade teriyaki sauce served   </h6>
                    <h6>with chicken or tofu and greens.. </h6>
                </div>
             </div>
                <div class>
                    <h1 class="hh1"align="Sushi">Sushi </h1>
                        <div class="row">
                         <div class="col-xs-3 col-md-5 c1">
                        <a href="#" class="thumbnail">
                        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-YleewgboOqF0b0BN.png" alt="...">
                        </a><br><br><br>
                        <h1>Philadelphia Roll.         $8</h1>
                        <h6>A modern classic. Sushi roll with salmon, avocado,  </h6>
                        <h6>cream cheese, and surimi sticks..</h6>
                        </div>
                        <div class="col-xs-3 col-md-5 c2">
                        <a href="#" class="thumbnail">
                        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-Aq224gbPEOSPypxk.png" alt="...">
                        </a><br><br><br>
                        <h1>San Francisco Roll             $7</h1>
                        <h6>Inside out roll with surimi, tuna, cream cheese, sesame  </h6>
                        <h6>seeds and fried onions. .</h6>
    </div>
    <div class>
            <div class="row">
             <div class="col-xs-3 col-md-5 c1">
            <a href="#" class="thumbnail">
            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-mv00grbnMniZx3O6.png" alt="...">
            </a><br><br><br>
            <h1>Dragon Roll.         $9</h1>
            <h6>Inside out roll with fried king prawns, avocado,  </h6>
            <h6>Japanese omelet and cream cheese...</h6>
            </div>
            <div class="col-xs-3 col-md-5 c2">
            <a href="#" class="thumbnail">
            <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=496,h=368,fit=crop/ginza37pa0/img-dOqqRnpOj2sDbx8R.png" alt="...">
            </a><br><br><br>
            <h1>Nigiri Plate            $11</h1>
            <h6> A selection of our finest nigiri: choose from salmon, </h6>
            <h6>tuna, tilapia, surimi, prawns and vegetarian options. .</h6>
        </div>
        <div class>
            <h1 class="hh1"align="Sushi">Drinks</h1>
            <div class="row">
             <div class="col-xs-3 col-md-5 c1">
            <br><br>
            <h1>Sapporo Beer          $8.50</h1>
            <h6>Premium Japanese beer. </h6>
            </div>
            <div class="col-xs-3 col-md-5 c2">
            <br><br>
            <h1>Kokuryu Sake             $8.50</h1>
            <h6> Daidinjo sake with a mild aroma and subtle floral  </h6>
            <h6>notes.</h6>
            </div>
            <div class>
                <div class="row">
                 <div class="col-xs-3 col-md-5 c1">
                <br><br>
                <h1>Tozai Sake           $31.50</h1>
                <h6>Smooth, fruity, and cloudy sake, perfect for pairing.</h6>
                </div>
                <div class="col-xs-3 col-md-5 c2">
                <br><br>
                <h1>Juyodai Sake              $35.50</h1>
                <h6>An easy-drinking premium sake with a rich flavor. </h6>
               
                </div>
            <hr><br><br><br><br><br><br>
            <div class="container ch">
                <h1 style="padding:5%;">Book a table</h1>
            
                <h6>Reserving a table beforehand means less waiting.</h6>
                <h6>Groups of 8 or more must reserve ahead of time.</h6><br><br><br>
                <a href="http://127.0.0.1:8000/todos/contact/"><button class="bt1">BookNow</button></a><br><br>
                
            </div>
            
            
               
            
          </div>
        <br><br>
        
 
{% endblock %}

